playbook-PAN-OS_-_Apply_Security_Profile_to_Policy_Rule.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 6.5.0
    itemVersion: 1.0.4
    packID: MITRECoA
    packName: MITRE ATT&CK - Courses of Action
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: |
  This playbook is used to apply a PAN-OS security profile to a policy rule.
  The playbook performs the following tasks:
  - Accepts a rule name to apply the security profile to.
  - Applies the security profile to the rule if the rule exists. If not, creates the rule and applies.
  - Commits the configuration.
id: PAN-OS - Apply Security Profile to Policy Rule
inputs:
- description: The device group to work on. Exists only in panorama!
  key: device-group
  playbookInputQuery: null
  required: false
  value: {}
- description: Security profile type. Can be 'data-filtering', 'file-blocking', 'spyware',
    'url-filtering', 'virus, 'vulnerability', or wildfire-analysis.'
  key: profile_type
  playbookInputQuery: null
  required: true
  value: {}
- description: The profile name to apply to the rule.
  key: profile_name
  playbookInputQuery: null
  required: true
  value: {}
- description: Determines whether the rule is a pre-rulebase or post-rulebase rule,
    according to the rule structure. Exists only in panorama!
  key: pre-post-rulebase
  playbookInputQuery: null
  required: false
  value: {}
- description: Tag for which to filter the rules.
  key: tag
  playbookInputQuery: null
  required: false
  value: {}
name: PAN-OS - Apply Security Profile to Policy Rule
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 40327e99-aede-4feb-8895-86ba17375b63
      iscommand: false
      name: ""
      version: -1
    taskid: 40327e99-aede-4feb-8895-86ba17375b63
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1590
        }
      }
  "1":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Panorama
                - - left:
                      iscontext: true
                      value:
                        simple: modules.state
                    operator: isEqualString
                    right:
                      value:
                        simple: active
                root: modules
          operator: isExists
      label: "yes"
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "2"
      "yes":
      - "12"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is PAN-OS integration enabled?
      id: c49b9893-728b-4d53-860c-6a6fcd6fa248
      iscommand: false
      name: Is PAN-OS integration enabled?
      type: condition
      version: -1
    taskid: c49b9893-728b-4d53-860c-6a6fcd6fa248
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 890,
          "y": 1750
        }
      }
  "2":
    continueonerrortype: ""
    id: "2"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 4ac17db2-8b32-4f7b-87d6-37cd64f80654
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 4ac17db2-8b32-4f7b-87d6-37cd64f80654
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 890,
          "y": 3920
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: c9716a59-b36d-49b1-849c-ac63a097f9ec
      iscommand: false
      name: PAN-OS Apply profile to a rule
      type: title
      version: -1
    taskid: c9716a59-b36d-49b1-849c-ac63a097f9ec
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 1920
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    loop:
      exitCondition: ""
      iscommand: false
      max: 100
      wait: 1
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      action-type:
        complex:
          accessor: "7"
          root: Data for rule creation.Answers
      device-group:
        complex:
          accessor: "1"
          root: Data for rule creation.Answers
      element-to-add:
        complex:
          accessor: "6"
          root: Data for rule creation.Answers
      inbound-or-outbound-rule:
        complex:
          accessor: "5"
          root: Data for rule creation.Answers
      log-forwarding-object-name:
        complex:
          accessor: "2"
          root: Data for rule creation.Answers
      pre-post-rulebase:
        complex:
          accessor: "0"
          root: Data for rule creation.Answers
      relative-rule-name:
        complex:
          accessor: "4"
          root: Data for rule creation.Answers
      rule-position:
        complex:
          accessor: "3"
          root: Data for rule creation.Answers
      rule_name:
        complex:
          accessor: Name
          root: Rule
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      description: Creates or edits a Panorama rule and moves it into the desired
        position
      id: a8abd0f3-28ca-42d5-87f8-9339118e4fa4
      iscommand: false
      name: PAN-OS - Create Or Edit Rule
      playbookId: PAN-OS - Create Or Edit Rule
      type: playbook
      version: -1
    taskid: a8abd0f3-28ca-42d5-87f8-9339118e4fa4
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1490,
          "y": 3400
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      profile_name:
        complex:
          root: inputs.profile_name
      profile_type:
        complex:
          root: inputs.profile_type
      rule_name:
        complex:
          accessor: Name
          root: Rule
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Apply a security profile to specific rules or rules with a specific
        tag.
      id: 366d79d0-5327-4af9-818b-679edda71f0f
      iscommand: true
      name: PAN-OS Apply security profile to a rule
      script: '|||pan-os-apply-security-profile'
      type: regular
      version: -1
    taskid: 366d79d0-5327-4af9-818b-679edda71f0f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 3570
        }
      }
  "19":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Insert a rule name
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Insert a rule name
      totalanswers: 0
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Insert existing rule name
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Insert existing rule name.
      id: 6c1fbac6-85bb-48ab-8d19-517fe6d71299
      iscommand: false
      name: Insert a rule name
      type: collection
      version: -1
    taskid: 6c1fbac6-85bb-48ab-8d19-517fe6d71299
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 2090
        }
      }
  "20":
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "29"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Create rule automatically?
      id: 4151ee31-16d4-4049-8635-5c98f079860d
      iscommand: false
      name: Create rule automatically?
      type: condition
      version: -1
    taskid: 4151ee31-16d4-4049-8635-5c98f079860d
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 2880
        }
      }
  "21":
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "22"
    note: false
    quietmode: 0
    scriptarguments:
      device-group:
        complex:
          root: inputs.device-group
      pre_post:
        complex:
          root: inputs.pre-post-rulebase
      tag:
        complex:
          root: inputs.tag
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns a list of predefined Security Rules.
      id: 1163de5f-b1fe-48df-8220-603ff15c4ae8
      iscommand: true
      name: Panorama list rules
      script: '|||pan-os-list-rules'
      type: regular
      version: -1
    taskid: 1163de5f-b1fe-48df-8220-603ff15c4ae8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 2490
        }
      }
  "22":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: Panorama.SecurityRule.Name
          operator: isEqualString
          right:
            iscontext: true
            value:
              complex:
                accessor: Name
                root: Rule
      label: "yes"
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "20"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Does the rule exist in PAN-OS?
      id: 3b2daafe-3725-4f4a-8977-a49535a6763b
      iscommand: false
      name: Does the rule exist?
      type: condition
      version: -1
    taskid: 3b2daafe-3725-4f4a-8977-a49535a6763b
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 2705
        }
      }
  "23":
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Manual - Create rule in PAN-OS.
      id: 41b0c72a-1a92-40b4-8f59-53e77810cf89
      iscommand: false
      name: Manual - Create rule
      type: regular
      version: -1
    taskid: 41b0c72a-1a92-40b4-8f59-53e77810cf89
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 3050
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "21"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Rule.Name
      value:
        complex:
          accessor: "0"
          root: Insert a rule name.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: 90e2c03e-50f9-4863-8826-11740bdb7cbd
      iscommand: false
      name: Set rule name
      script: Set
      type: regular
      version: -1
    taskid: 90e2c03e-50f9-4863-8826-11740bdb7cbd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 2290
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "16"
    note: false
    quietmode: 0
    scriptarguments:
      append:
        simple: "true"
      key:
        simple: Rule.Name
      value:
        complex:
          accessor: "0"
          root: Insert rule name.Answers
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Set a value in context under the key you entered.
      id: fb60c517-22ca-4c57-89a8-6e24a5a6c023
      iscommand: false
      name: Set rule name
      script: Set
      type: regular
      version: -1
    taskid: fb60c517-22ca-4c57-89a8-6e24a5a6c023
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 3400
        }
      }
  "27":
    continueonerrortype: ""
    form:
      description: ""
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: Insert rule name
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: ""
        type: shortText
      sender: ""
      title: Insert rule name
      totalanswers: 0
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Insert rule name
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Insert rule name.
      id: c4e7a98c-be13-4341-8cb4-274c78b82bfd
      iscommand: false
      name: Insert rule name
      type: collection
      version: -1
    taskid: c4e7a98c-be13-4341-8cb4-274c78b82bfd
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1950,
          "y": 3220
        }
      }
  "28":
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "2"
    note: false
    quietmode: 0
    separatecontext: true
    skipunavailable: false
    task:
      brand: ""
      id: 5f2f6ab0-6fcf-4032-803f-6c3ce837d0fe
      iscommand: false
      name: PAN-OS Commit Configuration
      playbookId: PAN-OS Commit Configuration
      type: playbook
      version: -1
    taskid: 5f2f6ab0-6fcf-4032-803f-6c3ce837d0fe
    timertriggers: []
    type: playbook
    view: |-
      {
        "position": {
          "x": 1200,
          "y": 3750
        }
      }
  "29":
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3b7a4ce5-9f5e-49a1-8e28-9a550388f629
      iscommand: false
      name: PAN-OS Create rule
      type: title
      version: -1
    taskid: 3b7a4ce5-9f5e-49a1-8e28-9a550388f629
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1490,
          "y": 3050
        }
      }
  "30":
    continueonerrortype: ""
    form:
      description: Please provide the necessary data for rule creation.
      expired: false
      questions:
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "0"
        label: ""
        labelarg:
          simple: pre_post
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: Rules location. Can be 'pre-rulebase' or 'post-rulebase'. Mandatory
          for Panorama instances.
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "1"
        label: ""
        labelarg:
          simple: device-group
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: The device group for which to return addresses (Panorama instances).
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "2"
        label: ""
        labelarg:
          simple: log-forwarding-object-name
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: The server address to which to forward logs.
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "3"
        label: ""
        labelarg:
          simple: rule-position
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: 'The position of the rule in the ruleset. Valid values are:   * Top   *
          Bottom   * Before   * After  The default is ''Bottom'''
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "4"
        label: ""
        labelarg:
          simple: relative-rule-name
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: If the rule-position that is chosen is before or after, specify the
          rule name to which it is related.
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "5"
        label: ""
        labelarg:
          simple: inbound-or-outbound-rule
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: Determines if the rule is inbound or outbound.
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "6"
        label: ""
        labelarg:
          simple: element-to-add
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: The element to add to the rule.
        type: shortText
      - defaultrows: []
        fieldassociated: ""
        gridcolumns: []
        id: "7"
        label: ""
        labelarg:
          simple: action-type
        options: []
        optionsarg: []
        placeholder: ""
        readonly: false
        required: false
        tooltip: 'The action that will be defined in the rule. Valid values are: *
          allow * deny * drop'
        type: shortText
      sender: ""
      title: Data for rule creation
      totalanswers: 0
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    message:
      bcc: null
      body:
        simple: Please provide the necessary data for rule creation
      cc: null
      format: ""
      methods: []
      subject: null
      timings:
        completeafterreplies: 1
        completeaftersla: false
        completeafterv2: false
        retriescount: 2
        retriesinterval: 360
      to: null
    nexttasks:
      '#none#':
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Provide data for rule creation.
      id: 0c5ade81-eddc-490f-8193-2e82e67cb3ed
      iscommand: false
      name: Provide data for rule creation
      type: collection
      version: -1
    taskid: 0c5ade81-eddc-490f-8193-2e82e67cb3ed
    timertriggers: []
    type: collection
    view: |-
      {
        "position": {
          "x": 1490,
          "y": 3210
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {
      "1_2_#default#": 0.52,
      "20_29_yes": 0.5,
      "22_16_yes": 0.45
    },
    "paper": {
      "dimensions": {
        "height": 2395,
        "width": 1440,
        "x": 890,
        "y": 1590
      }
    }
  }
