playbook-test_ALESSIO.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: f36d27fa-aeec-45be-8184-67b9f140f061
inputs: []
name: test_ALESSIO
outputs: []
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "1"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: d7b6c081-5354-406c-889e-cd4b3aee6619
      iscommand: false
      name: ""
      version: -1
    taskid: d7b6c081-5354-406c-889e-cd4b3aee6619
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 450,
          "y": 50
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      data:
        simple: ${MalwareBazaar.File.vendor_intel.Triage.signatures}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 3df7a371-1e19-4fd2-8807-2bbf10365d1b
      iscommand: false
      name: Untitled Task
      script: d1160807-7886-4871-866b-d96ab77d409b
      type: regular
      version: -1
    taskid: 3df7a371-1e19-4fd2-8807-2bbf10365d1b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 450,
          "y": 230
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 275,
        "width": 380,
        "x": 450,
        "y": 50
      }
    }
  }
