playbook-loop_query_NetWitness.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 582311c1-fe1c-4836-86e4-308665fd9406
inputs:
- description: ""
  key: chiave
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: valore
  playbookInputQuery: null
  required: false
  value: {}
name: loop_query_NetWitness
outputs:
- contextPath: NetWitness.Events.isEmpty
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae9855e9-4401-4919-8f3b-58284a74f65e
      iscommand: false
      name: ""
      version: -1
    taskid: ae9855e9-4401-4919-8f3b-58284a74f65e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 265,
          "y": 65
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where  ${inputs.chiave} = ${inputs.valore}
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: 5adcc340-3753-47c7-88c7-cfbd9c3213a8
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: 5adcc340-3753-47c7-88c7-cfbd9c3213a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 225
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "4"
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where ${inputs.chiave} = ${inputs.valore}
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: 42e0e519-7004-41ab-8fa4-1681728f723e
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: 42e0e519-7004-41ab-8fa4-1681728f723e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 225
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: ${isEmpty}
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      "yes":
      - "5"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 803cf16c-b15e-41ed-89e2-f64a6dc7b63a
      iscommand: false
      name: prova
      type: condition
      version: -1
    taskid: 803cf16c-b15e-41ed-89e2-f64a6dc7b63a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 265,
          "y": 400
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: SIEM has no interaction with indicator
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 9ec86945-80e9-4296-8e7d-b203bcf671c6
      iscommand: false
      name: printa
      script: Print
      type: regular
      version: -1
    taskid: 9ec86945-80e9-4296-8e7d-b203bcf671c6
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "12"
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: trovato qualcosa, Azioni per bloccare sul siem
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 92ca22e8-cc79-4509-8a96-539b395bf90e
      iscommand: false
      name: Se qualcosa è trovato sul SIEM blocca
      script: Print
      type: regular
      version: -1
    taskid: 92ca22e8-cc79-4509-8a96-539b395bf90e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.valore
          operator: isEqualString
          right:
            value:
              simple: 8.8.8.0
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a871aba-43d9-40e2-88f8-eb23b090356e
      iscommand: false
      name: Untitled Task
      type: condition
      version: -1
    taskid: 7a871aba-43d9-40e2-88f8-eb23b090356e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 910,
          "y": 50
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where  ${inputs.chiave} = 1.2.3.4
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: dc9cfab6-9586-4a56-864d-b9748b025d24
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: dc9cfab6-9586-4a56-864d-b9748b025d24
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 225
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${NetWitness.Events.isEmpty.length}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 7e955cdd-d8da-4746-88e2-c258db26c076
      iscommand: false
      name: Printa empty
      script: Print
      type: regular
      version: -1
    taskid: 7e955cdd-d8da-4746-88e2-c258db26c076
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 50
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${NetWitness.Events.isEmpty.length}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: d00d816b-e98b-4a51-887a-6ef14de072d8
      iscommand: false
      name: Printa empty
      script: Print
      type: regular
      version: -1
    taskid: d00d816b-e98b-4a51-887a-6ef14de072d8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1770,
          "y": 50
        }
      }
  "12":
    continueonerrortype: ""
    id: "12"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      key:
        simple: isEmpty
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: |-
        Delete field from context.

        This automation runs using the default Limited User role, unless you explicitly change the permissions.
        For more information, see the section about permissions here:
        https://docs-cortex.paloaltonetworks.com/r/Cortex-XSOAR/6.10/Cortex-XSOAR-Administrator-Guide/Automations
      id: 41bf67eb-48cc-4e6a-887d-8f48576d0b4b
      iscommand: false
      name: Untitled Task
      script: DeleteContext
      type: regular
      version: -1
    taskid: 41bf67eb-48cc-4e6a-887d-8f48576d0b4b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 265,
          "y": 750
        }
      }
  "13":
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${isEmpty}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Returns the last element of an array. If the value passed is not
        an array, it returns the original value that was passed.
      id: d6cf6d83-1718-4a56-88fe-711907ca3eca
      iscommand: false
      name: Extract Last
      script: 77247f48-4662-40c9-8773-ce15ee447bfa
      type: regular
      version: -1
    taskid: d6cf6d83-1718-4a56-88fe-711907ca3eca
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2200,
          "y": 50
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 795,
        "width": 2530,
        "x": 50,
        "y": 50
      }
    }
  }
