playbook-Integration_Troubleshooting.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: 5.0.0
    itemVersion: 2.0.20
    packID: Troubleshoot
    packName: Troubleshoot
    packPropagationLabels:
    - all
    prevname: ""
    propagationLabels: []
    toServerVersion: ""
description: Troubleshoot a problem with either an integration's configuration or
  with running a command.
id: Integration Troubleshooting
inputs:
- description: The name of the instance to check.
  key: instancename
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: instancename
      root: incident
- description: The troubleshoot type.
  key: troubleshoottype
  playbookInputQuery: null
  required: true
  value:
    complex:
      accessor: troubleshoottype
      root: incident
- description: The full command to run, for example, "!vt-comments-get resource=www.example.com"
  key: commandline
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: commandline
      root: incident
- description: Whether to run with changing the insecure flag.
  key: insecure
  playbookInputQuery: null
  required: false
  value:
    complex:
      accessor: runwithinsecure
      root: incident
name: Integration Troubleshooting
outputs: []
starttaskid: "0"
system: true
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "34"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 582d9612-c48b-40cc-8d79-b4534a4c3e03
      iscommand: false
      name: ""
      version: -1
    taskid: 582d9612-c48b-40cc-8d79-b4534a4c3e03
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 50
        }
      }
  "4":
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "10"
    note: false
    quietmode: 0
    scriptarguments:
      instance_name:
        complex:
          root: inputs.instancename
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Gets an instance's parameters.
      id: 9d711b27-5bbe-409b-8fd0-37e63d13346e
      iscommand: false
      name: Get Instance Parameters
      script: TroubleshootGetInstanceParameters
      type: regular
      version: -1
    taskid: 9d711b27-5bbe-409b-8fd0-37e63d13346e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1645,
          "y": 370
        }
      }
  "7":
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "39"
    note: false
    quietmode: 0
    scriptarguments:
      arguments:
        complex:
          accessor: Arguments
          root: CommandArgs
      command:
        complex:
          accessor: command
          root: CommandArgs
      instance_name:
        complex:
          root: inputs.instancename
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Run and troublshoot the command.
      id: 8a3446c6-2b3b-483e-8c45-183bcf69e531
      iscommand: false
      name: Run command
      script: TroubleshootExecuteCommand
      type: regular
      version: -1
    taskid: 8a3446c6-2b3b-483e-8c45-183bcf69e531
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1502.5,
          "y": 2410
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "15"
      - "17"
      - "20"
      - "37"
      - "41"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 2eff6770-1235-48b6-8227-c56f0ce68cfa
      iscommand: false
      name: Troubleshoot instance configuration
      type: title
      version: -1
    taskid: 2eff6770-1235-48b6-8227-c56f0ce68cfa
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1062.5,
          "y": 895
        }
      }
  "10":
    continueonerror: true
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "28"
    note: false
    quietmode: 0
    scriptarguments:
      parameters:
        complex:
          accessor: RawInstance
          root: InstanceParameters
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check the instance parameters.
      id: 4e292f56-20ad-422e-8459-4c4dbe7ea2e7
      iscommand: false
      name: Run Test button to check configuration
      script: TroubleshootTestInstance
      type: regular
      version: -1
    taskid: 4e292f56-20ad-422e-8459-4c4dbe7ea2e7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1645,
          "y": 545
        }
      }
  "13":
    continueonerror: true
    continueonerrortype: ""
    id: "13"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "29"
    note: false
    quietmode: 0
    scriptarguments:
      keys:
        complex:
          accessor: insecure_key
          root: InstanceParameters
      parameters:
        complex:
          accessor: RawInstance
          root: InstanceParameters
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Run the integration with the insecure option.
      id: aafc0454-fb2c-449b-8d71-258ac8d799a7
      iscommand: false
      name: Run with insecure
      script: TroubleshootTestInstance
      type: regular
      version: -1
    taskid: aafc0454-fb2c-449b-8d71-258ac8d799a7
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 1390
        }
      }
  "15":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: deprecated
                root: InstanceParameters
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "15"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "24"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the integration deprecated?
      id: 01b54815-28a1-4e15-86eb-03e0cd762cee
      iscommand: false
      name: Is integration deprecated?
      type: condition
      version: -1
    taskid: 01b54815-28a1-4e15-86eb-03e0cd762cee
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1565
        }
      }
  "16":
    continueonerrortype: ""
    id: "16"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "27"
    note: false
    quietmode: 0
    scriptarguments:
      docker_image:
        complex:
          accessor: dockerImage
          root: InstanceParameters
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Does the Docker image exist?
      id: ecaa8205-e8b2-421e-8aa3-6a1eee0d4d32
      iscommand: false
      name: Does Docker Image Exist?
      script: TroubleshootIsDockerImageExists
      type: regular
      version: -1
    taskid: ecaa8205-e8b2-421e-8aa3-6a1eee0d4d32
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 1390
        }
      }
  "17":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: system
                root: InstanceParameters
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "17"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "23"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is this a system integration?
      id: d2d55b96-16a2-445f-84ac-a8c3ee16567a
      iscommand: false
      name: Is system integration?
      type: condition
      version: -1
    taskid: d2d55b96-16a2-445f-84ac-a8c3ee16567a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 705,
          "y": 1565
        }
      }
  "19":
    continueonerrortype: ""
    id: "19"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "32"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ec868e52-ee18-4498-8379-d96b042a3684
      iscommand: false
      name: Should I run a command?
      type: title
      version: -1
    taskid: ec868e52-ee18-4498-8379-d96b042a3684
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 1915
        }
      }
  "20":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: type
                root: InstanceParameters
          operator: isEqualString
          right:
            value:
              simple: python
      label: "yes"
    continueonerrortype: ""
    id: "20"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "44"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is this a Python integration?
      id: 206fe04b-47d5-4a49-8250-d8742d1cf334
      iscommand: false
      name: Is Python Integration?
      type: condition
      version: -1
    taskid: 206fe04b-47d5-4a49-8250-d8742d1cf334
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1277.5,
          "y": 1040
        }
      }
  "21":
    continueonerror: true
    continueonerrortype: ""
    id: "21"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      message:
        simple: 'Could not find the Docker image. Try to manually download it. '
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message.
      id: 8cadf26f-75ae-4eb9-86e0-7f73438387bd
      iscommand: false
      name: Print error on missing Docker image.
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 8cadf26f-75ae-4eb9-86e0-7f73438387bd
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1175,
          "y": 1740
        }
      }
  "22":
    continueonerrortype: ""
    id: "22"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      value:
        simple: The command succeeds when changing the 'Proxy' value. Try changing
          it and see if the problem persists.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to the War Room (Markdown supported).
      id: b31d57a5-c4cd-4252-8d43-4921eed21783
      iscommand: false
      name: Print success
      script: Print
      type: regular
      version: -1
    taskid: b31d57a5-c4cd-4252-8d43-4921eed21783
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2442.5,
          "y": 1740
        }
      }
  "23":
    continueonerror: true
    continueonerrortype: ""
    id: "23"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      message:
        simple: This is not a verified XSOAR integration. Use an official integration
          instead.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message.
      id: 9ecf90a6-8022-4c35-8691-331bf62c831e
      iscommand: false
      name: Print error on a custom integration
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 9ecf90a6-8022-4c35-8691-331bf62c831e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 1740
        }
      }
  "24":
    continueonerror: true
    continueonerrortype: ""
    id: "24"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      message:
        simple: This is a deprecated integration. Use a supported integration.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message.
      id: 932b35f6-22d2-4748-864e-e4a575aa5d8f
      iscommand: false
      name: Print error for unsupported integration
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 932b35f6-22d2-4748-864e-e4a575aa5d8f
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 1740
        }
      }
  "25":
    continueonerrortype: ""
    id: "25"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "19"
    note: true
    quietmode: 0
    scriptarguments:
      value:
        simple: The command succeeds when changing the 'Insecure' (Trust any certificate,
          not secure) value. Try changing it and see if the problem persists.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to  War Room (Markdown supported).
      id: 91117ea1-cb7d-4acd-8011-e4e0dc497f63
      iscommand: false
      name: Print Success
      script: Print
      type: regular
      version: -1
    taskid: 91117ea1-cb7d-4acd-8011-e4e0dc497f63
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 1740
        }
      }
  "26":
    continueonerrortype: ""
    id: "26"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "31"
    note: false
    quietmode: 0
    scriptarguments:
      configuration:
        complex:
          root: InstanceParameters
      errors:
        complex:
          accessor: Errors
          filters:
          - - left:
                iscontext: true
                value:
                  simple: TroubleshootTestInstance.changed_keys
              operator: isEmpty
          root: TroubleshootTestInstance
      execute_command_errors:
        complex:
          accessor: Error
          root: TroubleshootExecuteCommand
      file_entry_id:
        complex:
          accessor: Name
          root: File
      file_names:
        complex:
          accessor: Name
          root: File
      succeeded_changed_params:
        complex:
          accessor: changed_keys
          filters:
          - - left:
                iscontext: true
                value:
                  simple: TroubleshootTestInstance.succeed
              operator: isTrue
          root: TroubleshootTestInstance
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Aggregate the results.
      id: 3d09629c-3105-4037-85b6-cc3a51d14738
      iscommand: false
      name: Generate Summary
      script: TroubleshootAggregateResults
      type: regular
      version: -1
    taskid: 3d09629c-3105-4037-85b6-cc3a51d14738
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 2905
        }
      }
  "27":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: exists
                root: TroubleshootIsDockerImageExists
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "27"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "21"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if the Docker image exists.
      id: 086cce9a-c2c3-496b-898d-0649e64b54d2
      iscommand: false
      name: Check if it exists
      type: condition
      version: -1
    taskid: 086cce9a-c2c3-496b-898d-0649e64b54d2
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1400,
          "y": 1565
        }
      }
  "28":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: succeed
                root: TroubleshootTestInstance
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "28"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "9"
      "yes":
      - "19"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Did the integration Test succeed?
      id: 819b59d8-cc0e-487c-885c-c762b6015394
      iscommand: false
      name: Did Test succeed?
      type: condition
      version: -1
    taskid: 819b59d8-cc0e-487c-885c-c762b6015394
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1645,
          "y": 720
        }
      }
  "29":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: succeed
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: TroubleshootTestInstance.changed_keys
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: InstanceParameters.insecure_key
                root: TroubleshootTestInstance
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "29"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "25"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Did changing the 'Insecure' (Trust any certificate, not secure)
        value work?
      id: 1b34a222-1005-427c-8926-a669b1c3822e
      iscommand: false
      name: Did insecure change work?
      type: condition
      version: -1
    taskid: 1b34a222-1005-427c-8926-a669b1c3822e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1870,
          "y": 1565
        }
      }
  "30":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: succeed
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: TroubleshootTestInstance.changed_keys
                    operator: isEqualString
                    right:
                      iscontext: true
                      value:
                        simple: InstanceParameters.proxy_key
                root: TroubleshootTestInstance
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "30"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "22"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Did changing the 'Proxy' value work?
      id: 7d5c09f8-8667-4d5f-81f0-35e66591d69f
      iscommand: false
      name: Did proxy change work?
      type: condition
      version: -1
    taskid: 7d5c09f8-8667-4d5f-81f0-35e66591d69f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2340,
          "y": 1565
        }
      }
  "31":
    continueonerrortype: ""
    evidencedata:
      customfields: {}
      description:
        simple: Zipped all collected data
    id: "31"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "38"
    note: false
    quietmode: 0
    scriptarguments:
      entryID:
        complex:
          accessor: EntryID
          root: File
      zipName:
        complex:
          root: inputs.instancename
          transformers:
          - args:
              prefix: {}
              suffix:
                value:
                  simple: _collected
            operator: concat
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Zip a file and upload it to the War Room.
      id: bd69eb4c-085b-4efb-85fc-fda6f23a778d
      iscommand: false
      name: Zip all files
      script: ZipFile
      type: regular
      version: -1
    taskid: bd69eb4c-085b-4efb-85fc-fda6f23a778d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 3080
        }
      }
  "32":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.troubleshoottype
          operator: containsGeneral
          right:
            value:
              simple: command
      label: command
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.troubleshoottype
          operator: containsGeneral
          right:
            value:
              simple: configure
      label: configuration
    continueonerrortype: ""
    id: "32"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      command:
      - "33"
      configuration:
      - "39"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: What is the troubleshooting type (command or integration)?
      id: 54c18a7d-f18c-4c10-8808-04e9fdd4e6db
      iscommand: false
      name: What is the troubleshooting type?
      type: condition
      version: -1
    taskid: 54c18a7d-f18c-4c10-8808-04e9fdd4e6db
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 2060
        }
      }
  "33":
    continueonerrortype: ""
    id: "33"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "7"
    note: false
    quietmode: 0
    scriptarguments:
      command_line:
        complex:
          root: inputs.commandline
      instance_name:
        complex:
          root: inputs.instancename
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Get the command and arguments.
      id: 40b200da-11b1-4590-8f19-2b16db46aed3
      iscommand: false
      name: Is command available?
      script: TroubleshootGetCommandandArgs
      type: regular
      version: -1
    taskid: 40b200da-11b1-4590-8f19-2b16db46aed3
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1502.5,
          "y": 2235
        }
      }
  "34":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: state
                filters:
                - - left:
                      iscontext: true
                      value:
                        simple: modules.brand
                    operator: isEqualString
                    right:
                      value:
                        simple: Core REST API
                root: modules
          operator: isEqualString
          right:
            value:
              simple: active
      label: "yes"
    continueonerrortype: ""
    id: "34"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "35"
      "yes":
      - "4"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Is the Core REST API integration configured?
      id: 44cebb67-c8c0-4247-804f-623e8caf4ae7
      iscommand: false
      name: Is Core REST API integration configured?
      type: condition
      version: -1
    taskid: 44cebb67-c8c0-4247-804f-623e8caf4ae7
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1430,
          "y": 195
        }
      }
  "35":
    continueonerrortype: ""
    id: "35"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: true
    quietmode: 0
    scriptarguments:
      message:
        simple: The Core REST API integration is not configured. Configure the integration
          in order to use this playbook.
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints an error entry with a given message.
      id: 4c1724a2-927c-485b-8c8b-fea9c418047b
      iscommand: false
      name: Print error
      script: PrintErrorEntry
      type: regular
      version: -1
    taskid: 4c1724a2-927c-485b-8c8b-fea9c418047b
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1215,
          "y": 370
        }
      }
  "36":
    continueonerrortype: ""
    id: "36"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 52569d87-eca3-46af-86e2-8c14c201811c
      iscommand: false
      name: Done
      type: title
      version: -1
    taskid: 52569d87-eca3-46af-86e2-8c14c201811c
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 3430
        }
      }
  "37":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                root: inputs.insecure
          operator: isTrue
      label: "yes"
    continueonerrortype: ""
    id: "37"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "13"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Checks if the incident's 'Insecure' (Trust any certificate, not
        secure) value is selected.
      id: 09db14ae-7d44-4e58-81a6-20627815216a
      iscommand: false
      name: Is running with insecure checked?
      type: condition
      version: -1
    taskid: 09db14ae-7d44-4e58-81a6-20627815216a
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1860,
          "y": 1215
        }
      }
  "38":
    continueonerrortype: ""
    fieldMapping:
    - incidentfield: Troubleshoot Summary
      output:
        complex:
          root: FileData
    id: "38"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "36"
    note: false
    quietmode: 0
    scriptarguments:
      encoding:
        simple: utf-8
      entryID:
        complex:
          accessor: EntryID
          filters:
          - - left:
                iscontext: true
                value:
                  simple: File.Name
              operator: isEqualString
              right:
                iscontext: true
                value:
                  simple: TroubleshootAggregateResults.summary_file_name
          root: File
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Load the contents of the summary file into the context.
      id: e1fa6549-0609-476a-8f3d-cf638dea8315
      iscommand: false
      name: Read summary into incident
      script: ReadFile
      type: regular
      version: -1
    taskid: e1fa6549-0609-476a-8f3d-cf638dea8315
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 3255
        }
      }
  "39":
    continueonerrortype: ""
    id: "39"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "40"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: eecb34c2-7b6f-4769-8e41-8cc3f5d90d3a
      iscommand: false
      name: Collect information
      type: title
      version: -1
    taskid: eecb34c2-7b6f-4769-8e41-8cc3f5d90d3a
    timertriggers: []
    type: title
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 2585
        }
      }
  "40":
    continueonerrortype: ""
    id: "40"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "26"
    note: false
    quietmode: 0
    scriptarguments:
      uri:
        simple: log/bundle
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Download files from the Cortex XSOAR server.
      id: 1e731ef6-21c7-41b7-8c60-536235c3da7d
      iscommand: true
      name: Get server logs
      script: '|||core-api-download'
      type: regular
      version: -1
    taskid: 1e731ef6-21c7-41b7-8c60-536235c3da7d
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1615,
          "y": 2730
        }
      }
  "41":
    continueonerrortype: ""
    id: "41"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "42"
    note: false
    quietmode: 0
    scriptarguments:
      extend-context:
        simple: AdvancedConfiguration=response
      uri:
        simple: system/config
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Send HTTP GET requests.
      id: 366eb325-2867-407e-80bf-41390a19b702
      iscommand: true
      name: Get advanced parameters
      script: '|||core-api-get'
      type: regular
      version: -1
    taskid: 366eb325-2867-407e-80bf-41390a19b702
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2340,
          "y": 1040
        }
      }
  "42":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: http_proxy
                root: AdvancedConfiguration.sysConf
          operator: isNotEmpty
        - left:
            iscontext: true
            value:
              complex:
                accessor: https_proxy
                root: AdvancedConfiguration.sysConf
          operator: isNotEmpty
      label: "yes"
    continueonerrortype: ""
    id: "42"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "43"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is a proxy in the advanced configuration.
      id: eb4104d3-6791-48c5-842d-4e3421a7eb8f
      iscommand: false
      name: Is proxy defined?
      type: condition
      version: -1
    taskid: eb4104d3-6791-48c5-842d-4e3421a7eb8f
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 2340,
          "y": 1215
        }
      }
  "43":
    continueonerror: true
    continueonerrortype: ""
    id: "43"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "30"
    note: false
    quietmode: 0
    scriptarguments:
      keys:
        complex:
          accessor: proxy_key
          root: InstanceParameters
      parameters:
        complex:
          accessor: RawInstance
          root: InstanceParameters
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check the instance parameters.
      id: 7aef4f16-c5a7-47c9-8606-f01114c42d23
      iscommand: false
      name: Run with proxy
      script: TroubleshootTestInstance
      type: regular
      version: -1
    taskid: 7aef4f16-c5a7-47c9-8606-f01114c42d23
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 2340,
          "y": 1390
        }
      }
  "44":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              complex:
                accessor: Errors
                root: TroubleshootTestInstance
          operator: containsGeneral
          right:
            value:
              simple: docker image
      label: "yes"
    continueonerrortype: ""
    id: "44"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "19"
      "yes":
      - "16"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Check if there is a Docker error in the test module.
      id: e81a23bd-a3b4-4f8e-8cf7-ca281b75afcc
      iscommand: false
      name: Check if Docker error
      type: condition
      version: -1
    taskid: e81a23bd-a3b4-4f8e-8cf7-ca281b75afcc
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1390,
          "y": 1215
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 3445,
        "width": 2772.5,
        "x": 50,
        "y": 50
      }
    }
  }
