playbook-loop_query_NetWitness.yml
contentitemexportablefields:
  contentitemfields:
    definitionid: ""
    fromServerVersion: ""
    itemVersion: ""
    packID: ""
    packName: ""
    prevname: ""
    propagationLabels:
    - all
    toServerVersion: ""
id: 582311c1-fe1c-4836-86e4-308665fd9406
inputs:
- description: ""
  key: chiave
  playbookInputQuery: null
  required: false
  value: {}
- description: ""
  key: valore
  playbookInputQuery: null
  required: false
  value: {}
name: loop_query_NetWitness
outputs:
- contextPath: NetWitness.Events.isEmpty
starttaskid: "0"
tasks:
  "0":
    continueonerrortype: ""
    id: "0"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#none#':
      - "3"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: ae9855e9-4401-4919-8f3b-58284a74f65e
      iscommand: false
      name: ""
      version: -1
    taskid: ae9855e9-4401-4919-8f3b-58284a74f65e
    timertriggers: []
    type: start
    view: |-
      {
        "position": {
          "x": 695,
          "y": 65
        }
      }
  "1":
    continueonerrortype: ""
    id: "1"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where  ${inputs.chiave} = ${inputs.valore}
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: 5adcc340-3753-47c7-88c7-cfbd9c3213a8
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: 5adcc340-3753-47c7-88c7-cfbd9c3213a8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1125,
          "y": 225
        }
      }
  "3":
    continueonerrortype: ""
    id: "3"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where ${inputs.chiave} = ${inputs.valore}
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: 42e0e519-7004-41ab-8fa4-1681728f723e
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: 42e0e519-7004-41ab-8fa4-1681728f723e
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 695,
          "y": 225
        }
      }
  "4":
    conditions:
    - condition:
      - - left:
            value:
              simple: ${NetWitness.Events.isEmpty}
          operator: isFalse
      label: "yes"
    continueonerrortype: ""
    id: "4"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "6"
      - "11"
      "yes":
      - "5"
      - "10"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 28efa4b0-258c-46de-81c0-fd8634ffc915
      iscommand: false
      name: prova
      type: condition
      version: -1
    taskid: 28efa4b0-258c-46de-81c0-fd8634ffc915
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 695,
          "y": 400
        }
      }
  "5":
    continueonerrortype: ""
    id: "5"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: Query andata a vuoto
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 6d071b84-62de-4d4d-85a1-103a55af7a68
      iscommand: false
      name: printa
      script: Print
      type: regular
      version: -1
    taskid: 6d071b84-62de-4d4d-85a1-103a55af7a68
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 480,
          "y": 575
        }
      }
  "6":
    continueonerrortype: ""
    id: "6"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: trovato qualcosa
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: a2160f60-dfa9-4165-81a4-5d3c398cae56
      iscommand: false
      name: Printa
      script: Print
      type: regular
      version: -1
    taskid: a2160f60-dfa9-4165-81a4-5d3c398cae56
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 50,
          "y": 575
        }
      }
  "7":
    conditions:
    - condition:
      - - left:
            iscontext: true
            value:
              simple: inputs.valore
          operator: isEqualString
          right:
            value:
              simple: 8.8.8.0
      label: "yes"
    continueonerrortype: ""
    id: "7"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    nexttasks:
      '#default#':
      - "1"
      "yes":
      - "9"
    note: false
    quietmode: 0
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      id: 7a871aba-43d9-40e2-88f8-eb23b090356e
      iscommand: false
      name: Untitled Task
      type: condition
      version: -1
    taskid: 7a871aba-43d9-40e2-88f8-eb23b090356e
    timertriggers: []
    type: condition
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 50
        }
      }
  "9":
    continueonerrortype: ""
    id: "9"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      concentratorIP:
        simple: 172.16.201.204
      lastHours:
        simple: "2"
      lastMinutes:
        simple: "5"
      query:
        simple: select * where  ${inputs.chiave} = 1.2.3.4
    separatecontext: false
    skipunavailable: false
    task:
      brand: RSA NetWitness Packets and Logs_copy
      description: Performs a query against the meta database
      id: dc9cfab6-9586-4a56-864d-b9748b025d24
      iscommand: true
      name: query
      script: RSA NetWitness Packets and Logs_copy|||netwitness-query
      type: regular
      version: -1
    taskid: dc9cfab6-9586-4a56-864d-b9748b025d24
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1555,
          "y": 225
        }
      }
  "10":
    continueonerrortype: ""
    id: "10"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${NetWitness.Events.isEmpty.length}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: 7e955cdd-d8da-4746-88e2-c258db26c076
      iscommand: false
      name: Printa empty
      script: Print
      type: regular
      version: -1
    taskid: 7e955cdd-d8da-4746-88e2-c258db26c076
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 910,
          "y": 575
        }
      }
  "11":
    continueonerrortype: ""
    id: "11"
    ignoreworker: false
    isautoswitchedtoquietmode: false
    isoversize: false
    note: false
    quietmode: 0
    scriptarguments:
      value:
        simple: ${NetWitness.Events.isEmpty.length}
    separatecontext: false
    skipunavailable: false
    task:
      brand: ""
      description: Prints text to war room (Markdown supported)
      id: d00d816b-e98b-4a51-887a-6ef14de072d8
      iscommand: false
      name: Printa empty
      script: Print
      type: regular
      version: -1
    taskid: d00d816b-e98b-4a51-887a-6ef14de072d8
    timertriggers: []
    type: regular
    view: |-
      {
        "position": {
          "x": 1340,
          "y": 575
        }
      }
version: -1
view: |-
  {
    "linkLabelsPosition": {},
    "paper": {
      "dimensions": {
        "height": 620,
        "width": 1885,
        "x": 50,
        "y": 50
      }
    }
  }
